<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>La cuchara</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>

    <div id="main"></div>

    <script type="text/x-template" id="app">
      <div>
        <div class="page-title">
            <h2>Searching in {{ restaurantsCount }} restaurants.</h2>
            <span class="clear-all" @click="clearAll" v-if="selectedFilters.length">clear all ✖</span>
        </div>

        <div class="restaurants-navigation">
          <h3>NY Restaurants</h3>
          <span>
            <input type="text" class="searchbox" placeholder="search" v-model="search">
          </span>
          <div>
            Page {{ page + 1 }} of {{ pagesCount }}
            <button @click="previousPage" :disabled="previousPageDisabled"> <-- </button>
            <button @click="nextPage" :disabled="nextPageDisabled"> --> </button>
          </div>
        </div>

        <div class="content">

          <div class="restaurant-facets">

            <div class="list-facet">
              <div><b>Cuisine</b></div>
              <div
                v-for="facet in all.cuisine"
                class="facet-item"
                :class="{selected: isFacetSelected(facet)}"
                @click="facetClicked(facet)">
                {{ facet.value + ' (' + facet.count + ')' }}
              </div>
            </div>

            <div class="list-facet">
              <div><b>Borough</b></div>
              <div
                v-for="facet in all.borough"
                class="facet-item"
                :class="{selected: isFacetSelected(facet)}"
                @click="facetClicked(facet)">
                {{ facet.value + ' (' + facet.count + ')' }}
              </div>
            </div>

            <div class="list-facet">
              <div><b>Zipcode</b></div>
              <div
                v-for="facet in all.zipcode"
                class="facet-item"
                :class="{selected: isFacetSelected(facet)}"
                @click="facetClicked(facet)">
                {{ facet.value + ' (' + facet.count + ')' }}
              </div>
            </div>

          </div>

          <div class="restaurants-list">
            <div v-for="restaurant in all.restaurants" class="restaurant-card">
              <div><b>{{ restaurant.name }}</b></div>
              <div>Cuisine: {{ restaurant.cuisine }}</div>
              <div>{{ restaurant.address.building + ', ' + restaurant.address.street }}</div>
              <div>{{ restaurant.borough + ', New York ' + restaurant.address.zipcode }}</div>
              <div>United States</div>
            </div>
          </div>

        </div>

      </div>
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
    <script src="app.js"></script>

  </body>
</html>