<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>La cuchara</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>


    <div id="main"></div>

    <script src="https://use.fontawesome.com/ae4af477ce.js"></script>

    <script type="text/x-template" id="app">
      <div>
        <div class="page-title">
            <img src="logo.png" class="logo" alt="forl and spoon crossed">
            <h2>La cuchara. Searching in {{ restaurantsCount }} restaurants.</h2>
        </div>

        <div class="selected-facets" :style="{visibility: selectedFilters.length ? '' : 'hidden'}">
            <span>Filtering by: </span>
            <span v-for="chip in selectedFilters" @click="removeChip(chip)" class="facet-chip">
                <i :class="'fa fa-'+chip.icon" aria-hidden="true"></i>
                {{ chip.value }} <span class="close">✖</span>
            </span>
            <span class="clear-all" @click="clearAll" v-if="selectedFilters.length > 1">clear all ✖</span>
        </div>

        <div class="restaurants-navigation">
          <h3>NYC Restaurants</h3>
          <span>
            <input type="text" class="searchbox" placeholder="search" v-model="search">
          </span>
          <div>
            Page {{ page + 1 }} of {{ pagesCount }}
            <button @click="previousPage" class="page-button" title="previous page" :disabled="previousPageDisabled"> ‹ </button>
            <button @click="nextPage" class="page-button" title="next page" :disabled="nextPageDisabled"> › </button>
          </div>
        </div>

        <div class="content">

          <div class="restaurant-facets">

            <div class="list-facet">
              <div><i class="fa fa-cutlery" aria-hidden="true"></i><b> Cuisine</b></div>
              <div
                v-for="facet in all.cuisine"
                class="facet-item text-clickable"
                :class="{selected: isFacetSelected(facet.value, 'cuisine')}"
                @click="facetClicked(facet.value, 'cuisine')">
                {{ facet.value + ' (' + facet.count + ')' }}
              </div>
            </div>

            <div class="list-facet">
              <div><i class="fa fa-building" aria-hidden="true"></i><b> Borough</b></div>
              <div
                v-for="facet in all.borough"
                class="facet-item text-clickable"
                :class="{selected: isFacetSelected(facet.value, 'borough')}"
                @click="facetClicked(facet.value, 'borough')">
                {{ facet.value + ' (' + facet.count + ')' }}
              </div>
            </div>

            <div class="list-facet">
              <div><i class="fa fa-map-marker" aria-hidden="true"></i><b> Zipcode</b></div>
              <div
                v-for="facet in all.zipcode"
                class="facet-item text-clickable"
                :class="{selected: isFacetSelected(facet.value, 'zipcode')}"
                @click="facetClicked(facet.value, 'zipcode')">
                {{ facet.value + ' (' + facet.count + ')' }}
              </div>
            </div>

          </div>

          <div class="restaurants-list">
            <div v-for="restaurant in all.restaurants" class="restaurant-card">
              <div><b>{{ restaurant.name }}</b></div>
              <div @click="facetClicked(restaurant.cuisine, 'cuisine')" class="text-clickable"><i class="fa fa-cutlery" aria-hidden="true"></i> {{ restaurant.cuisine }}</div>
              <div>{{ restaurant.address.building + ', ' + restaurant.address.street }}</div>
              <div>
                  <span @click="facetClicked(restaurant.borough, 'borough')" class="text-clickable">{{ restaurant.borough }}</span>
                  , New York
                  <span @click="facetClicked(restaurant.address.zipcode, 'zipcode')" class="text-clickable">{{ restaurant.address.zipcode }}</span>
              </div>
              <div>United States</div>
            </div>
          </div>

        </div>

      </div>
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>
    <script src="app.js"></script>

  </body>
</html>