body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    color: #2c3e50;
}

.restaurants-navigation {
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
}

.restaurant-facets {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 200px;
    margin-right: 10px;
}

.list-facet {
    margin-bottom: 10px;
    min-height: 185px;
}

.facet-item {
    cursor: pointer;
    padding: 5px;
}

.facet-item.selected {
    text-decoration: underline;
    font-weight: bold;
}

.facet-item:hover {
    background-color: #eee;
}

.restaurants-list {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.restaurant-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
}